<div class="container-fluid mt-5 about-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact Us</h1>
      <p class="text-center sub-heading">We Will Be Happy To Help You</p>

      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <form action="/contact" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
            </div>

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" name="phone">
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="4" placeholder="Your message" name="message"></textarea>
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary px-5">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
